.dropdown-menu>li>a {
    padding: 3px 20px;
    white-space: nowrap;
}

.dropdown-menu>li>a:link {
    color: #149dcc !important;
}

.dropdown-menu>li>a:visited {
    color: #149dcc !important;
}

.dropdown-menu>li>span.oi {
    color: #149dcc;
    padding-left: 1rem;
    padding-right: 0;
    white-space: nowrap;
}

/*Allow for text next to icon appear without space in-between*/
li.menu-with-icon>a {
    padding-left: 0;
    white-space: nowrap;
}

a.dropdown-toggle {
    outline: none
}

.cid-qHAUKIofDN .navbar {
    -webkit-box-shadow: -1px 12px 38px -19px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 12px 38px -19px rgba(0,0,0,0.37);
    box-shadow: -1px 4px 25px -5px rgba(0,0,0,0.37);
    background: #ffffff;
}

.li-spacer {
    padding-left: 1em;
}

.cid-qHAUKIofDN .dropdown .dropdown-menu  {
    background: #ffffff;
}


.dropdown-menu > li:hover {
    background-color: #f0f0f0;
}

.dropdown-menu>li>*:hover {
    color: white;
}

.navbar-dropdown.bg-color.transparent {
    box-shadow: none;
}


.activity-feed {
    margin-top: 3em;
    margin-left: inherit;
}

.activity-post {
    margin-left: 0;
}

.activity-post-comment {
    text-align: right;
    background-color: #ffffff;
    margin-top: 0.5em;
}

.activity-profile-pic-xs {
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;
}

.activity-profile-pic-sm {
    max-width: 34px;
    max-height: 34px;
    border-radius: 50%;
}

.activity-profile-pic-md {
    max-width: 48px;
    max-height: 48px;
    border-radius: 50%;
}

.activity-profile-pic-lg {
    max-width: 58px;
    max-height: 58px;
    border-radius: 50%;
}

.activity-profile-pic-x-lg {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
}

.activity-profile-pic-xx-lg {
    max-width: 82px;
    max-height: 82px;
    border-radius: 50%;
}

.activity-profile-pic-xxx-lg {
    max-width: 94px;
    max-height: 94px;
    border-radius: 50%;
}

.activity-profile-pic-huge {
    width: 188px;
    height: 188px;
    max-width: 188px;
    max-height: 188px;
    border-radius: 50%;
}

.card.activity-post {
    margin-left: 0;
    border: 0.05em solid #cacaca;
    border-left-width: .25em;
    border-left-color: #21a0c9;
    background-color: white;
    border-radius: 4px;
    max-width: 100%;
    margin-bottom: 0.25em;
}

.activity-post .card-header {
    margin-left: -1em;
    margin-right: -1em;
}

.card-footer {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.01em; /* Fix for missing border in some activity feeds*/
    border-top: none;
    background-color: white;
}

.card-header .date-time {
    font-size: 0.75em;
    color: #757575;
    float: right;
}

.activity-post-comment .activity-comment-profile-pic {
    max-width: 24px;
    max-height: 24px;
    float: left;
}

.activity-post-comment .date-time-comment {
    font-size: small;
    font-style: italic;
    font-weight: 700;
    margin-right: 1em;
    border-right: 4px solid #21a0c9;
    padding-right: 0.5em;
}

.activity-post-comment .comment-text {
    padding-right: 0.5em;
    padding-top: 1em;
    text-align: right;
}

.activity-post .card-footer.with-comments {
    border-bottom: 2px dashed grey;
    margin-bottom: 0.75em;
}

.card-title.activity-post-title {
    font-weight: 700;
    margin-bottom: 2em;
}

.connections {
    white-space: nowrap;
}

.connections .badge-primary {
    background-color: #7f7f7f;
}

.sidebar-parent {
    background-color: white;
    border: 3px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    margin-bottom: -3em;
    margin-top: -2em;
    transition: all .25s ease;
}

.sidebar {
    position: fixed;
    left: 0;
    margin-top: 2em;
}

.collapse-icon {
    margin-left: -2%;
    color: lightslategrey;
    float: right;
    padding-top: 1em;
    padding-right: 3px;
    position: fixed;
    font-size: 24px;
}

.collapse-icon-div {
    background-color: white;
    border-right: 3px solid #e4e4e4;
    margin-bottom: -3em;
    margin-top: -2em;
}

.collapse-icon-div-collapsed {
    width: 2em;
}

.collapse-icon-collapsed {
    margin-left: 8px;
}

.nav-tabs .nav-link-rectangle {
    border-radius: 1px !important;
}

.tab-data-scrollable {
    max-height: 185px;
    overflow: auto;
    border: 1px solid #e4e4e4;
    border-top: none;
}

.even-list-item {
    background-color: #f7f7f7;
}

ul.list-group.list-group-flush {
    line-height: 0.5em;
}

.comments-show-more {
    padding-left: 20%;
}

.sidebar-announcements {
    padding-left: 2em;
    margin-left: -0.2em;
    padding: 0px;
    background-color: white;
    border: 3px solid #e4e4e4;
    border-top: none;
    margin-top: -2em;
    border-right: none;
    margin-bottom: -3em;
    border-bottom: 1px solid #e4e4e4;
    right:  0;
    min-height: calc(100vh + 80px);
}

.sidebar-right {
    margin-top: 2.5em;
    position: unset;
    margin-bottom: -3em;
    max-width: 100%;
}

.spacer-collapsed {
    margin-right: 6.7em;
}

#connections-nav-tabContent, #teams-nav-tabContent {
    min-height: 35vh;
    max-height: 40vh;
}

.cid-qIfhXo2QYg {
    border-top: 1px solid #e4e4e4;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.cid-qHAUKIofDN .dropdown.open > .dropdown-menu {
    position: static;
}

.modal-dialog.modal-lg {
    max-width:96%;
}

#activity {
    padding: 0;
    margin: 0;
}

.card-footer.team-users {
    background-color: rgba(0, 0, 0, 0.62);
    color: white;
    max-width: 164px;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #b5b5b5;
    display: none;
    margin-left: 20%;
    white-space: nowrap;
    min-width: fit-content;
}

.table-card {
    border: 1px solid lightgray;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.myprojects-card {
    margin-top: -10em;
}

.add-activity {
    background-color: rgba(0,0,0,0.4);
    left: 85vw;
    top: 2.5em;
    position: fixed;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 2em;
    display: inline-grid;
    border-radius: 100%;
}

.menu-button-text {
    font-size: 1.5em;
}
/*From bootstrap and navbar settings for hiding menu items. Adjust when needed*/
@media (min-width: 768px) {
    .arrow_box {
        position: relative;
        background: #ffffff;
    }

    .arrow_box:after, .arrow_box:before {
        bottom: 100%;
        left: 25%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-bottom-color: #ffffff;
        border-width: 13px;
        margin-left: -13px;
        top: -25px;
    }

    .arrow_box:before {
        border-color: rgba(20, 157, 204, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        border-width: 14px;
        margin-left: -14px;
    }

    .cid-qHAUKIofDN .dropdown.open > .dropdown-menu {
        position: absolute;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .modal-dialog.modal-lg {
        max-width:60%;
    }

    .card.members-card {
        margin-left: -90em;
    }

    .team-deck {
        margin-top: 3em;
        display: inline-flex;
    }

    .select2-container {
        min-width:1em;
        max-width:9em;
    }

    #activity {
        padding: 15px;
        margin: 0;
    }

    .myprojects-section {
        margin-top: -18em;
        min-width: 90vw;
    }

    .card-footer.team-users {
        margin-left: 0;
    }

    .team-deck {
        margin-left: 3em;
    }

    .myprojects-card {
        margin-top: 3em;
    }

    .add-activity {
        left: 58vw;
        top: 3.4em;
    }

    .menu-button-text {
        font-size: 1em;
    }
}

.comment-add-box {
    margin: -0.5em;
    margin-top: 1em;
    background-color: #f7f7f7;
    margin-bottom: 1em;
    padding: 0.5em;
    display: none;
    border: 2px solid#80808021;
    border-radius: 5px;
}

.comment-add-box-visible {
    display: block;
}

.add-comment-button {
    float: right;
    margin: 0.5em;
    margin-right: 0;
    border-radius: 5px;
    border: 2px solid #1492bd;
}

.cancel-comment-button {
    color: #fff;
    background-color: #dc3545;
    border-color: #ed9aa2;
}

.cancel-comment-button:hover {
    background-color: #9d2832;
}

.i-button {
    outline: none;
}

.liked-post {
    color: mediumseagreen;
}

.preProdText {
    margin-left: -1.2em;
    color: red;
    font-style: italic;
    font-family: Rubik;
    font-weight: 500;
    font-size: x-large;
}

.project_header_image {
    background-image: url("../images/project-banner.jpg");
    background-size: cover;
    min-height: 324px;
    border-top: 12px solid #333333;
}

.project-header-container {
    margin-left: 36px;
    text-align: left;
}

.project-header-container-bottom {
    height: 43px;
    background: repeating-linear-gradient( 40deg, #222, #333 10px, #333 10px, #333 18px);
    background-color: white;
}

.project-nav-tabs .nav-link {
    border-radius: 0 !important;
}

.project-details {
    margin-top: -44px;
    margin-left: 8em;
    min-height: 300px;
}

.tab-content.project-tab-content {
    margin-top: 5em;
    margin-left: -5em;
    word-break: keep-all;
}

.tab-content-activity {
    margin-top: 0;
}

.nav-link {
    color: white !important;
}

.nav-link.active {
    color: black !important;
    border-top: 4px solid #139dcc !important;
}

.nav-link-activity {
    color: black !important;
}

.projects-comments-header {
    background: linear-gradient(to bottom, #fffdfd 0%, #e5e5e5 100%);
    margin-top: -1em;
    height: 2em;
}

.projects-comments-header-text {
    margin-left: 75px;
    padding-top: 1px;
    font-size: 1.25em;
}

.scrollable-bootbox-alert {
    max-height: calc(100vh - 15em);
    overflow: scroll;
}

.tooltip { pointer-events: none; }

.tooltip:hover:after {
    left: 50%;
    transform: translateX(-50%);
}

.tooltip:hover:before {
    left: 50%;
    transform: translateX(-50%);
}

.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax > .jarallax-img {

    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.project-nav-tabs {
    border-bottom: none;
    margin-left: -5em;
}

.data-property {
    font-weight: 600;
}

.table-hover tbody tr:hover {
    background-color: #edecfe;
}

.team-deck {
    margin-top: 6em;
    margin-bottom: 2em;
}

.team-member {
    text-align: center;
    height: 142px;
    transition: transform .5s ease-in-out;
}

.team-member:hover {
    transform: scale(1.25);
}

.project-description-textarea {
    width: -moz-available;
    width: -webkit-fill-available;
}

.select2-container {
    min-width: 38vw;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #5897fb;
    border: 1px solid #0063ff;
    color: white;
    border-radius: 1.5em;
    padding: 0.25em;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #9c1717;
    font-size: 1.5em;
    font-weight: 900;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #e8e8e8;
    background-color: #fdfdfd;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #e9ecef;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #5897fb;
    color: white;
}

.fa-disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.user-connection {
    display: inline-block;
}

.btn-link:disabled, .btn-link.disabled:hover {
    text-decoration: none;
}

.edit-toolbar {
    background-color: rgb(129, 137, 146);
    border-bottom: 1px solid lightgrey;
    padding-left: 5em;
    padding-bottom: 0.5em;
    padding-top: 2em;
    margin-top: -1em;
    color: white;
    font-size: 1.25em;
}
.sticky {
    padding-top: 1em;
    position: fixed;
    top: 4em;
    z-index: 9;
}

.user-edit-section-scroll {
    padding-top: 3em;
}

.myprojects_header {
    background-size: cover;
    min-height: 4em;
    max-height: 4em;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    color: #149dcc;
}

.pagination-toolbar {
    padding-bottom: 1em;
    background-color: #f8f8f8;
    margin: 0;
    padding: 26px;
    padding-left: 3em;
    padding-right: 3em;
    border-top: 1px solid #dddddd;
}

.dark-theme > * > .modal-content {
    background: #171616de;
    color: white;
}

.dark-theme > .modal-dialog > .modal-content > .modal-footer {
    border-top: none;
}

.dark-theme > * > .modal-body {
    color: white;
}

.btn-red {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.wizard-button {
    background-color: white;
    color: #007bff;
    font-size: 3em;
    border: none;
    outline: #ffffff;
    padding: 0;
    top: 0;
}

.wizard-button:hover {
    text-decoration: none;
}

.wizard-button.previous {
    position: absolute;
    left: 1em;
    top: 0.1em;
}

.wizard-button.next {
    position: absolute;
    right: 1em;
    top: 0.1em;
}

.modal-title.offset-title {
    margin-left: 5em;
}

.busy-div {
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 50vh;
    right: 45vw;
    z-index: 6000;
    color: white;
    border-radius: 0.75em;
    height: 8em;
    width: 20em;
    opacity: 0.95;
    border: 2px solid #484848e8;
    background: linear-gradient(to bottom, rgb(123, 123, 123) 0%,rgb(23, 23, 23) 49%,rgb(21, 20, 20) 50%,rgb(49, 49, 49) 100%);
    box-shadow: 0 0 57px 6px rgba(37, 37, 37, 0.4);
}

/*Fix for bootbox close button*/
.bootbox-close-button.close{
    position: absolute;
    right: 20px;
    font-size: 2em;
}

.dropdown-menu {
    margin: 0;
}